header{
	position:relative;
}
header .mui-icon-search{
	position: absolute;
	z-index: 10;
	padding:8px;
	left:0vw;
	top:0vw;
}
header .mui-icon-map{
	position: absolute;
	z-index: 10;
	right:0vw;
	top:0vw;
	padding:8px;
}
.search{
	width:100vw;
	height:5vw;
	line-height: 5vw;
	position: absolute;
	left:0;
	padding:0 10vw!important;
}
#map {
	width: 100%;
	position: fixed;
	top: 40px;
	bottom: 50px;
	line-height: 200px;
	text-align: center;
	background: #FFFFFF;
}
.mui-icon{
	color:#1BD4C6;
}
.mui-bar-tab .mui-tab-item.mui-active{
	color:#333!important;
}
#ban{
	position:absolute!important;
	z-index: 1000;
	bottom:0;
	left:0;
}
